:root
{
    --main-color:#10cab7;
    --secondry-color:#2c4755;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body
{
    font-family: 'Work Sans', sans-serif;   
}
html
{
    scroll-behavior: smooth;
}

.continer
{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
   
}
@media (min-width: 768px)
{
    .continer{
        width: 750px;
    }
}
@media (min-width:992px)
{
    .continer{
        width: 970px;
    }
}
@media (min-width:1200px)
{
    .continer{
        width: 1170px;
    }   
}
.special-heading
{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    margin: 0;
    letter-spacing: -3px;
}
.special-heading +p
{
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: #797979;
}
@media (max-width:767px)
{
    .special-heading
    {
        font-size: 60px;
    }
    .special-heading + p
    {
        margin-top: -20px;
    }
}
.header
{
    padding: 20px;
}
.header .continer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo
{
    width: 100px;
}

header .links
{
    position: relative;
}

.header .links .icon
{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon:hover span:nth-child(2)
{
    width: 100%;
}
.header .links .icon span
{
    margin-bottom: 5px;
    background-color: black;
    height: 2px;
}
.header .links .icon span:first-child
{
    width: 100%;
   
}
.header .links .icon span:nth-child(2)
{
    width: 60%;
    transition: 0.3s;
}
.header .links .icon span:last-child
{
    width: 100%;
}
.header .links ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: f6;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 300px;
    margin-right: 110px;
    display: none;
    z-index: 1;
}
.header .links:hover ul 
{
    display: block;
}
.header .links ul li a 
{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    border-bottom: 1px solid #ddd;
}
.header .links ul li a:hover
{
    padding-left: 50px;
}
.landing
{
    background-image: url(../image/mountains.jpg);
    background-size: cover;
    height: 90vh;

}
.landing .intro-text 
{ 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1
{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text p
{
    font-size: 19px;
    line-height: 1.8;
    color: aliceblue;
}
.feature
{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:#f6f6f6
}
.feature .continer
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}
.feature .feat
{
    text-align: center;
    padding: 20px;
}
.feature .feat i
{
    color: var(--main-color);
    font-size: 50px;
}
.feature .feat h3
{
    font-weight: 800px;
    margin-top: 30px;
}
.feature .feat p
{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
.serves .serves-content
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 30px;
    margin-left: 80px;
    margin-top: 100px;
}
.serves .serves-content .srv
{
    display: flex;
    margin-bottom: 40px;
    padding-right: 50px;
}
@media (max-width:767px)
{
    .serves .serves-content .srv
    {
        flex-direction: column ;
        text-align: center;
        margin-left: -20px;
    }
}
.serves .serves-content .srv i
{
    color: var(--main-color);
    font-size: 30px;
    margin-right: 5px;
    margin-top: 7px;
}
.serves .serves-content .srv .text p
{
    color: #333;
    line-height: 1.6;
    font-weight: 300;
}
.serves .serves-content .image
{
    text-align: center;
    position: relative;
    background-color: var(--secondry-color);
    width: 80px;
    height: 480px;
    margin-left: 200px;
    
   
}
.serves .serves-content .image img
{
    width: 260px;
    position: absolute;
    transform: translate(-100%,-50%);
    margin-top: 250px;
    margin-left: 10px;
}
@media (max-width:1199px)
{
    .image{
        display: none;
    }
}
.Portfolio
{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.Portfolio .Portfolio-content
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.Portfolio .Portfolio-content .card1 img
{
    width: 360px;
    height: 200px;
}
.Portfolio .Portfolio-content .card2 img
{
    width: 360px;
    height: 200px;
}
.Portfolio .Portfolio-content .card3 img
{
    width: 360px;
    height: 200px;
}
.Portfolio .Portfolio-content .card1 , .card2 , .card3
{
    background-color:white;
}
.Portfolio .Portfolio-content .info
{
    padding: 20px;
}
.Portfolio .Portfolio-content .info h3
{
    margin: 0;
}
.Portfolio .Portfolio-content .info p
{
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
@media (max-width:1199px)
{
    .Portfolio .Portfolio-content .card1 img 
    {
        width: 460px;
        height: 200px;
    }
    .Portfolio .Portfolio-content .card2 img 
    {
        width: 460px;
        height: 200px;
    } 
    .Portfolio .Portfolio-content .card3 img 
    {
        width: 460px;
        height: 200px;
    }
}
.about
{
    padding-top: 60px;
    padding-bottom: 60px;
}
.about .about-content
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 170px;
    margin-top: 80px;
}
.about .about-content img
{
    max-width: 100%;
}
.about .about-content .text
{
    margin-top: 8px;
}
.about .about-content .image
{
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-content .image::before
{
    content: "";
    position: absolute;
    background-color:var(--secondry-color);
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after
{
    content: "";
    position: absolute;
    width: 100px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    z-index: -1;
    right: -140px;
    top: -40px;
}
.about .about-content .text p:first-of-type
{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 30px;   
}
.about .about-content .text hr
{
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}
.about .about-content .text p:last-of-type
{
    line-height: 2;
    color: #777;
}
.contact
{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.contact .info
{
    padding-top: 60px;
    padding-bottom: 60px; 
    text-align: center; 
}
.contact .info .label
{
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link
{
    display: block;
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    color: var(--secondry-color);
}
.contact .info .social
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}
.contact .info .social a
{
    margin-left: 15px;
    text-decoration: none;
    color: var(--secondry-color);
}
.footer
{
    background-color: var(--secondry-color);
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 30px 10px;
    height: 150px;
}
footer h3
{
    padding-top: 25px;
}
.footer span
{
    color: var(--main-color);
}